name: Docs
on:
  push:
    branches:
      - main
  workflow_dispatch:
  
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install -r dev-requirements.txt
      - name: Runs tests
        run: |
          pytest --cov=inewave tests/
      - name: Static typing check
        run: |
          mypy ./inewave
      - name: PEP8 check
        run: |
          ruff check ./inewave
      - name: Sphinx build
        run: |
          sphinx-build -M html docs/source docs/build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html
          force_orphan: true
