name: tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.5, 3.6, 3.7, 3.8, 3.9]
    steps:
    - uses: actions/checkout@v2
    - name: Configura o Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Instala os requisitos do módulo
      run: |
        python -m pip install -r deploy-requirements.txt
    - name: Obtém os arquivos de teste
      run: |
        ${{ secrets.DOWNLOAD_TEST_FILES }}
        unzip -u _arquivos.zip -d ./tests
        rm _arquivos.zip
    - name: Executa os testes do pacote
      run: |
        python -m pytest --cov-report=xml --cov=inewave tests/
    - uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }} 
        files: ./coverage.xml
        flags: unittests
        env_vars: OS,PYTHON
        name: codecov-inewave
        fail_ci_if_error: true 
        verbose: true 
    - name: Veriricações de qualidade de código - tipagem estática
      run: |
        python -m mypy .
    - name: Verificações de qualidade de código - linter PEP8
      run: |
        python -m flake8 .
